/* ----------------------------MEDIA TABLETS----------------------- */

@media (min-width: 850px) {
  #header {
    background-size: 60%;
    background-repeat: no-repeat;
  }
}

/* ----------------------------------------MEDIA LARGE------------------------------------------ */

@media (min-width: 1200px) {
  /* ----------------------------layout----------------------- */
  #body.indexFlex {
    grid-template-areas:
      "nav  header  "
      "nav  main  "
      "nav footer  ";
    grid-template-columns: 180px 1fr ;
    grid-template-rows: 40vh 60vh auto;
    background-image: url(../assets/imgs/fotoprincipalindex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* --------------------------------------BODY ------------------------------------------ */
  #body.indexFlex #main section {
    font-size: 1rem;
    color: var(--blanco);
  }

    /* -------------------------------------HEADER------------------------------------------ */
    #header {
      background-size: 0;
      width: 50vw;
    }

    #header .divImagenPrincipal{
      width: 100%;
    }

  /* --------------------------------------MAIN ------------------------------------------ */
   .indexFlex #main {
    width: 50vw;
    padding: 0 2vw;
  } 

  /* -------------------------------------NAV------------------------------------------ */
  #nav {
    width: 180px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }

  .ulNav {
    display: block;
  }

  #nav button {
    display: none;
  }

  .ulNav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .ulNav li a::before {
    font-size: 2rem;
  }

  /* ------------------------------------FOOTER------------------------------------------ */
  #body.indexFlex footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 250px;
  }

  #redes {
    flex-direction: column;
    align-items: center;
  }

  #redes div {
    width: 100%;
  }

  #redes div img {
    margin: 0;
    padding: 0;
  }

  footer h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 20%;
  }
}
