/* ----------------------------MEDIA TABLETS----------------------- */

@media (min-width: 850px) {
  #header {
    background-size: 60%;
    background-repeat: no-repeat;
  }
}

/* ----------------------------------------MEDIA LARGE------------------------------------------ */

@media (min-width: 1200px) {
  /* ----------------------------layout----------------------- */
  #body.indexFlex {
    grid-template-areas:
      "nav  main header  "
      "nav footer footer ";
    grid-template-columns: 180px 1fr 1fr;
    grid-template-rows: 100vh auto;
    background-image: url(../assets/imgs/fotoprincipalindex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* --------------------------------------BODY ------------------------------------------ */
  #body.indexFlex #main section {
    font-size: 1rem;
  }

  #body.indexFlex .divImagenPrincipal {
    width: 800px;
    position: absolute;
    top: 50px;
    left: 200px;
    height: 250px;
  }

  #body.indexFlex .divImagenPrincipal h1 {
    font-size: 5rem;
    margin: 0; 
  }

  #body.indexFlex .divImagenPrincipal h2 {
    font-size: 4rem;
  }

    /* -------------------------------------HEADER------------------------------------------ */
    #header {
      background-size: 0;
    }
  

  /* --------------------------------------MAIN ------------------------------------------ */
  .indexFlex #main {
    color: var(--blanco);
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin:300px 0 70px 70px;
    padding: 10px 0 20px 0;
    height: 700px;
  }

  .indexFlex #main #logo img{
    width: 300px;
  }


  /* -------------------------------------NAV------------------------------------------ */
  #nav {
    width: 180px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }

  .ulNav {
    display: block;
  }

  #nav button {
    display: none;
  }

  .ulNav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .ulNav li a::before {
    font-size: 2rem;
  }

  /* ------------------------------------FOOTER------------------------------------------ */
  #body.indexFlex footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 250px;
  }

  #redes {
    flex-direction: column;
    align-items: center;
  }

  #redes div {
    width: 100%;
  }

  #redes div img {
    margin: 0;
    padding: 0;
  }

  footer h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 20%;
  }
}
